.menu-text {
    font-size: 1.25rem;
}

.elemento-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border-radius: 0.375rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
