<div class="bg-green-400 fixed top-0 left-0 right-0 z-100 mb-0">
  <nav class="nav-bar flex items-center w-full">
    <div class="nav-logo">
      <img src="images/ViveroLasTorresLogo.jpeg" alt="Vivero Las Torres" class="h-30 w-30 inline-block"
        loading="eager" />
    </div>

    <button (click)="open = !open" class="md:hidden ml-auto m-3">
      @if (!open) {
      <span class="material-symbols-outlined"> menu </span>
      } @else {
      <span class="material-symbols-outlined text-red-500"> close </span>
      }
    </button>
    <ul [class.hidden]="!open" [class.flex]="open"
      class="absolute md:static md:flex md:flex-1 md:justify-evenly md:items-center
         md:w-full top-10 w-screen md:mt-0 bg-white md:bg-transparent
         flex-col items-center md:flex-row z-10 mt-10 rounded-4xl md:border-0 border-3 divide-y-4 md:divide-y-0 text-green-700 md:text-black">
      <li
        class="px-4 py-2 rounded cursor-pointer transition-all hover:text-black hover:shadow-lg menu-text elemento-navbar">
        <!-- <a (click)="this.getUserSession()">Inicio <span class="material-symbols-outlined"> home </span></a> -->
        @if (this.getUserSession()?.rol_usuario === 'admin') {
        <span class="material-symbols-outlined">identity_platform</span>
        <a (click)="navigateToAdminDashboard()">Panel Admin </a>
        } @else {
          <span class="material-symbols-outlined"> home </span>
        <a (click)="navigateToHome()">Inicio</a>
        }
      </li>
      <!-- <li class="px-4 py-2 rounded cursor-pointer transition-all hover:text-white hover:shadow-lg menu-text">
        <a href="#">Catálogo <span class="material-symbols-outlined"> potted_plant </span></a>
      </li> -->
      <li class="px-4 py-2 cursor-pointer transition-all hover:text-black hover:shadow-lg menu-text elemento-navbar">
        <button>
          @if (this.isLoggedIn) {
          <a (click)="navigateToMyAccount()" class="flex items-center justify-center gap-2">
             <span class="material-symbols-outlined"> account_circle </span>
            <p>Mi Cuenta</p>
          </a>
          } @else {
          <a (click)="navigateToLogIn()" class="flex items-center justify-center gap-2">
            <span class="material-symbols-outlined"> login </span>
            <p>Iniciar Sesión</p>
          </a>
          }
        </button>
      </li>
      <li
        class="px-4 py-2 rounded cursor-pointer transition-all hover:text-black hover:shadow-lg menu-text elemento-navbar">
        <a (click)="navigateToContact()" class="flex justify-center items-center">
            <span class="material-symbols-outlined"> connect_without_contact</span>
            <span>Contacto</span>
        </a>
      </li>
      <li class="px-4 py-2 rounded cursor-pointer transition-all hover:text-black hover:shadow-lg menu-text elemento-navbar">
        <a class="flex items-center justify-center gap-2" (click)="navigateToShoppingCartPage()">
            <span class="material-symbols-outlined"> shopping_cart </span>
            <span>Carrito</span>
            <div class="bg-green-200 text-green-700 rounded-full px-2 ml-1 text-xl font-bold">
              {{ shoppingCartService.getCartItems().length }} <!-- Mostrar el número de items en el carrito -->
            </div>
        </a>
      </li>
      <li
        class="px-4 py-2 rounded cursor-pointer transition-all hover:text-black hover:shadow-lg menu-text elemento-navbar">
        <a (click)="navigateToPlantDesignDashboard()" class="flex justify-center items-center">
          <span class="material-symbols-outlined">yard </span>
          <span>Arreglo</span>
        </a>
      </li>
    </ul>
    <!-- <div class="nav-cart flex items-center px-5">
        <a href="#" class="font-sans">Carrito (0)</a>
        </div> -->
  </nav>
</div>